#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# Also works with startx/xinit.
export PATH=$PATH:~/.emacs.d/bin:~/.local/bin/statusbar:~/.local/bin/cron

#picom --experimental-backends &
feh --randomize --bg-fill ~/Pictures/dt-wallpapers/* &
xcompmgr &
dunst &
unclutter &
setxkbmap -option caps:escape 
